:root {
  background-color: lightpink;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkModeButton{
  background-color: #d90c8d;
  color:pink

}

#darkMode{
    font-size: 30px;
    height: 55px;
    width: 55px;
    margin-top: 10px;
    padding: 8px;
    margin-top: 30px;
    background-color: rgb(241, 66, 165);
    color: pink;
    cursor: pointer;
    border-radius: 300px;
    transition: background-color 0.3s ease;
    border: 2.5px solid rgb(108, 2, 83);
    float: right;

} 



h1 {
  color: rgb(221, 93, 191);
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: rgb(216, 62, 95);
  display: flex;
  justify-content: center;
}

.image-placeholder {
  display: flex;
  justify-content: center;
}

.image-placeholder img {
  margin: 10px;
  color: gray;
  font-style: italic;
  width: 50vw;
  height: 40vh;
  border-radius: 15px;
}

.info-card {
  background-color: rgb(218, 204, 17);
  box-shadow: black 3px 3px 10px;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 80vw;
  margin: auto;
}
